<form method="post" action="/Article/Delete/@Model.Id">

    @Html.HttpMethodOverride(HttpVerbs.Delete)     
    <br />     
    <button class="btn btn-success" type="submit">Sterge articol</button>

</form> 