
@{
    ViewBag.Title = "Afisare articole";
}

<h1>@ViewBag.Title</h1>

@foreach (ArticleCategory.Models.Article article in ViewBag.Articles)
{
<div class="panel panel-default">
    @Html.Partial("./Shared/ArticleInfo", article)
    <div class="panel-footer">
        <a class="btn btn-sm btn-info" href="/Article/Show/@article.Id">Afisare articol</a>
    </div>
    <br />
</div>
}