
@{
    ViewBag.Title = "Afisare articole";
}

<h1>@ViewBag.Title</h1>

@foreach (Laborator4.Models.Article article in ViewBag.Articles)
{
<div class="panel panel-default">
    @Html.Partial("./Shared/ArticleInfo", article)
    <div class="panel-footer">
        <a class="btn btn-sm btn-info" href="/Article/Show/@article.Id">Afisare articol</a>
    </div>
    <br />
</div>
}

<br />     
<a class="btn btn-info" href="/Category/Index">Afisare lista categorii</a>
<br />
<br />     
<a class="btn btn-success" href="/Article/New">Adauga articol</a>
<br />