
@{
    ViewBag.Title = "NewPost";
}

<h2>NewPost</h2>
<h1>@ViewBag.Article.Title</h1>
<p>@ViewBag.Article.Content</p>
<small>@ViewBag.Article.Date.ToString()</small>
<br />
<hr />
<br />
<a href="/Article/Index">Afiseaza toate articolele</a>